<div class="from-container">

      <div class="title">
        <p><b>{{title}}</b></p>
      </div>
    
      <div class="from-group">
    
        <div class = "buttons">
          <button (click)="redirectToReservation()">Make a reservation</button>
          <button (click)="redirectToMenu()">View the menu</button>
          <button (click)="redirectToOrder()">Make an order</button>
          <!-- <button (click)="redirectToCheck()">Ask for check</button> -->
        </div>
    
        <div class = "Program-Info">
    
          <div class = "Program">
    
            <div class = "Program-Title">
              <p><b> Program </b></p>
            </div>
    
            <div class = "line"></div>
    
            <div class = "Program-schedule">
              <p>
                Monday: 04:00PM - 11:00PM
              </p>
              <p>
                Tuesday: 04:00PM - 11:00PM
              </p>
              <p>
                Wednesday: 04:00PM - 11:00PM
              </p>
              <p>
                Thursday: 04:00PM - 11:00PM
              </p>
              <p>
                Friday: 02:00PM - 12:00AM
              </p>
              <p>
                Saturday: 02:00PM - 12:00AM
              </p>
              <p>
                Sunday: 02:00PM - 12:00AM
              </p>
            </div>
    
          </div>
    
          <div class = "Information">
    
            <div class = "Info-Title">
              <p><b> Information </b></p>
            </div>
    
            <div class = "line"></div>
    
            <div class = "Info-description">
                <p><b>Description</b></p>
                <p>
                  Flavours Heaven Bistro is a culinary haven in the heart of the city, offering an exquisite blend of
                  global and local flavors. Our meticulously crafted dishes, created by seasoned chefs, promise a gastronomic
                  journey that transcends the ordinary. With a harmonious ambiance of modern elegance, our restaurant is the
                  perfect setting for intimate gatherings or casual rendezvous. At Flavours Heaven Bistro, every moment is a
                  celebration of culinary artistry, where passion for food meets unparalleled service.
                </p>
            </div>
    
            <div class = "Info-email">
              <p><b>E-mail: </b>flavours.heaven-bistro&#64;gmail.com</p>
            </div>
    
            <div class = "Info-number">
              <p><b>Phone number: </b>+40763228950 or +2279845612</p>
            </div>
    
            <div class = "Info-address">
              <p><b>Address: </b>You will find our place on "Iuliu Maniu" Street, no. 18, Cluj-Napoca, Cluj</p>
            </div>
    
          </div>
    
        </div>
    
        <div class = "outro">
          <p>Thank you for choosing our restaurant. We're dedicated to make your visit exceptional. Enjoy!</p>
        </div>
    
      </div>
    
    </div>